h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0 0 0.5rem 0;
}

p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.label {
    border-top-right-radius: 0.55rem;
    border-top-left-radius: 0.55rem;
    background-color: antiquewhite;
}

.custom-tooltip {
    height: 92px;
    width: 150px;
    border-radius: 0.55rem;
    background: white;
    color: #343541;
    padding: 0;
    border-color: blue;
    box-shadow: 15px 20px 30px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}