# Duplicate this file, remove the ".example" suffix

APP_NAME = "integrator.io Playground"
API_ENDPOINT = "http://localhost.io:5000"
API_EMAIL = "[local IO account username]"
API_PASSWORD = "[local IO account pwd]"
