build
node_modules
*.swp
.idea/
*.log
*.old
.Rhistory
.history
.env
dep-tree
/styleguide
/coverage
.vscode
.DS_Store
package-lock.json
.env_staging
.env_production
.env_production_eu
.env_qa
version.pyc