/*
1. we are adding the icons as font here.
2. if we need to add new icons then we have to open the json in ICOMOON and add new icons
3. If we add like this then we can keep the old icon naming convention consistent
 */
 
 @font-face {
  font-family: iconsCeligo;
  src:  url('../../../static/fonts/celigo.eot');
  src:  url('../../../static/fonts/celigo.eot') format('embedded-opentype'),
    url('../../../static/fonts/celigo.ttf?qmtq3r') format('truetype'),
    url('../../../static/fonts/celigo.woff?qmtq3r') format('woff'),
    url('../../../static/fonts/celigo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
  
  [class^="cel-"], [class*=" cel-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconsCeligo';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .cel-icon-add:before {
    content: "\c000";
    color: #677a89;
  }
  .cel-icon-arrow-left:before {
    content: "\c001";
    color: #6a7b89;
  }
  .cel-icon-close:before {
    content: "\c002";
    color: #677a89;
  }
  .cel-icon-down:before {
    content: "\c003";
    color: #6a7b89;
  }
  .cel-icon-exit:before {
    content: "\c004";
    color: #677a89;
  }
  .cel-icon-getting-started:before {
    content: "\c005";
    color: #677a89;
  }
  .cel-icon-menu-bars:before {
    content: "\c006";
    color: #677a89;
  }
  .cel-icon-schedule:before {
    content: "\c007";
    color: #677a89;
  }
  .cel-icon-settings:before {
    content: "\c008";
    color: #677a89;
  }
  .cel-icon-scripts:before {
    content: "\c009";
    color: #6a7b89;
  }
  .cel-icon-stacks:before {
    content: "\c010";
    color: #677a89;
  }
  .cel-icon-up:before {
    content: "\c011";
    color: #6a7b89;
  }
  .cel-icon-connections:before {
    content: "\c012";
    color: #677a89;
  }
  .cel-icon-transfer-ownership:before {
    content: "\c013";
    color: #000333;
  }
  .cel-home:before {
    content: "\c014";
  }
  