.query-builder .rules-group-container {
  padding: 10px;
  border: 1px solid #e6e6e6 !important;
  background: rgba(236, 236, 236, 0.5) !important;
  border-radius: 0 !important;
}

.query-builder .btn {
  background-color: #1D76C7;
  border-color: #1D76C7;
  border-radius: 0;
  border: solid 1px transparent;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;

}

.query-builder .btn-success {
  border-radius: 2px;
}

.query-builder .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.query-builder .glyphicon {
  font-style: normal;
  font-size: 16px;
}

.query-builder .glyphicon-check:before {
  content: '\2611';
}

.query-builder .glyphicon-unchecked:before {
  content: '\2610';
}

.query-builder .glyphicon-remove:before {
  content: '\2715';
}

.query-builder .glyphicon-warning-sign:before {
  content: '\26A0';
}

.query-builder .btn-default {
  color: #000;
  background: #fff;
  border-color: #bbb;
}

.query-builder .btn.btn-xs.btn-danger {
  background-color: #aaa;
  border-radius: 2px;
}

.query-builder .rules-group-container .rules-group-header .btn-primary {
  background-color: #677A89;
  border-color: #677A89;
  padding: 2px;
}

.query-builder .rules-group-container .rules-group-header .btn-primary.active {
  background-color: #4CBB02;
  border-color: #4CBB02;
  padding: 2px;
}

.query-builder .btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.query-builder .form-control {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
}
.query-builder select.form-control{
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBDaGV2cm9uIERvd24gaWNvbiBieSBBcnRodXIgU2hsYWluIGZyb20gVXNlZnVsaWNvbnMuY29tIC0tPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiBmaWxsPSIjOTk5OTk5Ij48cGF0aCBkPSJNMTUsNDBMNTAsNzVMODUsNDBMODAsMzVMNTAsNjVMMjAsMzVaIiBzdHJva2U9Im5vbmUiPjwvcGF0aD48L3N2Zz4=) no-repeat;
	-moz-appearance: none; 
	-webkit-appearance: none;
	appearance: none;
	background-position: center right;
  padding-right: 18px;
}

.pull-right {
  float: right;
}

.rule-container .settings-icon {
  height: 20px;
  padding-left: 5px;
  margin-right: -25px;
}

.query-builder .rule-container .rule-value-container {
  display: inline-flex;
  align-items: center;
  padding-right: 25px;
}

.rule-filter-container {
  padding-right: 25px;
}

.netsuite-lookup-filters .rules-group-container .rules-group-container .rules-group-container .rules-group-container [data-add='group'] {
  display: none;
}