$celigo-blue: #0e7dc1;
$celigo-lt-blue: #12c7ff;
$celigo-orange: #ffa424;
$celigo-charcoal-grey: #424e59;
$celigo-dark-grey: #677a89;
$celigo-grey: #95abbc;
$celigo-lt-grey: #d6e4ed;
$celigo-super-lt-grey: #f0f5f9;
$celigo-white: #ffffff;
