@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light '),
    local('Roboto-Light'),
    url('~typeface-roboto/files/roboto-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('~typeface-roboto/files/roboto-latin-300.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular '),
    local('Roboto-Regular'),
    url('~typeface-roboto/files/roboto-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('~typeface-roboto/files/roboto-latin-400.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium '),
    local('Roboto-Medium'),
    url('~typeface-roboto/files/roboto-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('~typeface-roboto/files/roboto-latin-500.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: source sans pro;
  src: url('../../static/fonts/sourcesanspro-regular-webfont.eot');
  src: url('../../static/fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../static/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('../../static/fonts/sourcesanspro-regular-webfont.woff') format('woff'),
       url('../../static/fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
       url('../../static/fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: Consolas;
  src: url('../../static/fonts/Consolas.eot');
  src: url('../../static/fonts/Consolas.eot?#iefix') format('embedded-opentype'),
       url('../../static/fonts/Consolas.woff2') format('woff2'),
       url('../../static/fonts/Consolas.woff') format('woff'),
       url('../../static/fonts/Consolas.ttf') format('truetype'),
       url('../../static/fonts/Consolas.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
code{
  font-family: Consolas;
  font-size: 13px;
  line-height: normal;
  letter-spacing: normal;
}

/*
  The purpose of defining class stages is to
  re-render once a stage has been met. We start
  with the minimal default stage of sans-serif,
  and progressively re-render.
*/
html, body {
  -webkit-font-smoothing: antialiased;

}
/*
  During primary stage we only load the Roboto font.
  Once it's loaded, update the body to use it.
*/
.font-stage-primary html,
.font-stage-primary body {
  font-family: Roboto, sans-serif;
  color: #677A89;

}
a{
  color: #00A1E1;
  text-decoration: none;
  font-weight: 500,
}
