
@font-face {
  font-family: Roboto400;
  src:
    url('~typeface-roboto/files/roboto-latin-400.woff2') format('woff2'),
    url('~typeface-roboto/files/roboto-latin-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto300;
  src:
    url('~typeface-roboto/files/roboto-latin-300.woff2') format('woff2'),
    url('~typeface-roboto/files/roboto-latin-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Roboto500;
  src:
    url('~typeface-roboto/files/roboto-latin-500.woff2') format('woff2'),
    url('~typeface-roboto/files/roboto-latin-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: source sans pro;
  src: url('../../static/fonts/sourcesanspro-regular-webfont.eot');
  src: url('../../static/fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../static/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('../../static/fonts/sourcesanspro-regular-webfont.woff') format('woff'),
       url('../../static/fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
       url('../../static/fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: Consolas;
  src: url('../../static/fonts/Consolas.eot');
  src: url('../../static/fonts/Consolas.eot?#iefix') format('embedded-opentype'),
       url('../../static/fonts/Consolas.woff2') format('woff2'),
       url('../../static/fonts/Consolas.woff') format('woff'),
       url('../../static/fonts/consolas.ttf') format('truetype'),
       url('../../static/fonts/Consolas.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
code{
  font-family: Consolas;
  font-size: 13px;
  line-height: normal;
  letter-spacing: normal;
}

/*
  The purpose of defining class stages is to
  re-render once a stage has been met. We start
  with the minimal default stage of sans-serif,
  and progressively re-render.
*/
html, body {
  font-family: Roboto400, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/*
  The defined stages now modify the display of
  elements once they are loaded.
*/

/*
  During primary stage we only load the Roboto font.
  Once it's loaded, update the body to use it.
*/
.font-stage-primary html,
.font-stage-primary body {
  font-family: Roboto400, sans-serif;
  color: #677a89;
  
  /* Above color property is useful for styleguide icons to display,
    otherwise we have to keep one prop(fill) for all the svg icons
  */
  
}

/* Prevent the secondary fonts from being tree-shaken away */
.font-stage-secondary .roboto300 {
  font-family: Roboto300, sans-serif;
}
.font-stage-secondary .roboto500 {
  font-family: Roboto500, sans-serif;
}
a{
  text-decoration: none;
  color: #00A1E1;
}